.mainlight {
    padding: 10px;
    border : 2px;
    background-color : black ;
    width : 200px;
    height : 600px;
    }
.lightred {
   margin-top: 10px;
    border-radius: 100px ;
    background-color: red;
    width: 140px;
    height: 140px;
 }

 .lightyellow {
    margin-top: 10px;
    border-radius: 100px ;
    background-color: yellow;
    width: 140px;
    height: 140px;
 }

 .lightgreen {
    margin-top: 10px;
    border-radius: 100px ;
    background-color: green;
    width: 140px;
    height: 140px;
 }

  .mainwalk {
     margin-top: 8px;
     background-color: black;
     width: 100px;
     height: 100px;
     color: white
 }
 .walk {
     background-color: green;
     color: black;
 }
 .nowalk {
     background-color: red;
     color: black;
 }
 .automatic {
     background-color: green;
     color: black;
 }